dist/*
!dist/MxTestProject/
node_modules/
*.log

dist/MxTestProject/*
!dist/MxTestProject/*.mpr
!dist/MxTestProject/widgets/
!dist/MxTestProject/theme/

dist/MxTestProject/theme/*
!dist/MxTestProject/theme/styles
dist/MxTestProject/theme/styles/web/sass
!dist/MxTestProject/theme/components.json
!dist/MxTestProject/theme/favicon.ico
!dist/MxTestProject/theme/index*
!dist/MxTestProject/theme/LICENSE
!dist/MxTestProject/theme/settings-native.json
!dist/MxTestProject/theme/settings.json
!dist/MxTestProject/theme/styles.js
