dist/
node_modules/
*.log
.env

test/MxTestProject/*
!test/MxTestProject/*.mpr
!test/MxTestProject/widgets/
!test/MxTestProject/theme/

test/MxTestProject/theme/*
!test/MxTestProject/theme/styles
test/MxTestProject/theme/styles/web/sass
!test/MxTestProject/theme/components.json
!test/MxTestProject/theme/favicon.ico
!test/MxTestProject/theme/index*
!test/MxTestProject/theme/LICENSE
!test/MxTestProject/theme/settings-native.json
!test/MxTestProject/theme/settings.json
!test/MxTestProject/theme/styles.js
